@font-face{
 font-family: "Marbles Trick 1_PersonalUseOnly";
 src: url(../../FUENTES/Marbles_Trick%201_PersonalUseOnly.ttf) format("TrueType");
 font-weight: normal;
 font-style: normal;
}
/*
--------------------------------------------------------------
----------------     TITULO DE SECCION      ------------------
--------------------------------------------------------------
*/


.TITULO-PRINCIPAL{
	width: 94%;
	margin: 3%;
	text-align: center;
	background-color: #008FFF;
	border: 5px dashed #000000;
	padding: 3%;
	font-family: "Marbles Trick 1_PersonalUseOnly";
	font-size: 50px;
	clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}


/*
--------------------------------------------------------------
----------------          ARTICULOS         ------------------
--------------------------------------------------------------
*/


.CONTENEDOR-DE-ARTICULOS-4COLUMNAS{
	width: 23%;
	height: 650px;
	margin: 1%;
	background-color: #A7A7A7;
	border: 5px solid #000000;
	border-radius: 20px;
	float: left;
}
.TITULO-ARTICULO-4COLUMNAS{
	padding: 1%;
	border-radius: 15px;
	margin: 3% auto;
	font-family: "Marbles Trick 1_PersonalUseOnly";
	text-align: center;
	font-size: 30px;
}
.CONTENEDOR-DE-FOTOS-4COLUMNAS{
	width: 98%;
	margin: 1%;
	overflow: hidden;
	border-radius: 20px;
}
.FOTOS-4COLUMNAS{
	max-width: 100%;
}
.CONTENIDO-ARTICULO-4COLUMNAS{
	width: 96%;
	margin: 2%;
	font-family: "Marbles Trick 1_PersonalUseOnly";
	font-size: 17px;
}



@media screen and (max-width: 715px){
	.TITULO-PRINCIPAL{
		font-size: 40px;
	}
	.TITULO-ARTICULO-4COLUMNAS{
		font-size: 25px;
	}
	.CONTENEDOR-DE-ARTICULOS-4COLUMNAS{
		height: 750px;
	}
}
@media screen and (max-width: 650px){
	.CONTENEDOR-DE-ARTICULOS-4COLUMNAS{
		width: 44%;
		margin: 3%
	}
	.TITULO-ARTICULO-4COLUMNAS{
		font-size: 30px;
	}
	
}
@media screen and (max-width: 500px){
	.CONTENEDOR-DE-ARTICULOS-4COLUMNAS{
		height: 650px;
	}

}
@media screen and (max-width: 480px){
	.TITULO-ARTICULO-4COLUMNAS{
		font-size: 25px;
	}
}
@media screen and (max-width: 420px){
	.CONTENEDOR-DE-ARTICULOS-4COLUMNAS{
		height: 560px;
	}
	.TITULO-ARTICULO-4COLUMNAS{
		font-size: 17px;
	}
	.CONTENIDO-ARTICULO-4COLUMNAS{
		font-size: 15px;
	}
}
@media screen and (max-width: 400px){
	.CONTENEDOR-DE-ARTICULOS-4COLUMNAS{
		width: 94%;
		height: auto
	}
}