/*
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------       ENCABESADO PRINCIPAL        ----------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

.Contenedor_Principal_index{
	background-image: url(../IMAGENES/10.jpg);
	background-repeat: no-repeat; 
	width: 98%;
	margin: 1%;
	margin-top: 14%;
	background-size: 100%;
	border-radius: 20px;
	clear: left;
}

.embellesedor{
	background-color: rgba(000,000,000,0.4);
	border-radius: 20px;
}

.Titulo_Principal_index{
	font-size: 70px;
	color: #ffffff;
	text-align: center;
	padding: 15%;
	padding-bottom: 5%;
}

.Titulo_index{
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	padding: 5%;
	padding-top: 0;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------      ENCABESADO PRINCIPAL       ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------              BLOGS                ----------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

.Barra_celular_pb{
	margin-top: 2%;
	margin-bottom: 2%;
}

.Titulo_Principal{
	clip-path: none;
	margin: 2%;
	border-radius: 50px;
	font-size: 40px;
}

.Titulo_Principal:hover{
	background-color: #9500FF;
}

.contenedor_blog{
	float: none;
}

.imagen_i{
	padding: 2%;
}

.parrafo_blog{
	padding: 2%;
	padding-top: 0;
	font-size: 17px;
}

.titulo_a{
	text-align: center;
	width: 50%;
	margin: 2% auto;
	margin-bottom: 0;
	font-size: 20px;
}

.enlases:visited{
	color: #000000;
}

.enlases:active{
	color: #000000;
}

.enlases:any-link{
	color: #000000;
}
/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------             BLOGS               ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

@media screen and (min-width: 1000px){
	.Titulo_Principal_index{
		font-size: 90px;
	}
	.Titulo_index{
		font-size: 50px;
	}
	
	.Titulo_Principal{
		font-size: 60px;
	}
	
	.titulo_a{
		font-size: 35px;
	}
	
	.parrafo_blog{
		font-size: 20px
	}
}

@media screen and (min-width: 1400px){
	.Titulo_Principal{
		font-size: 80px;
	}
	
	.titulo_a{
		font-size: 45px;
	}
	
	.parrafo_blog{
		font-size: 30px
	}
}

@media screen and (min-width: 2000px){
	.Titulo_Principal_index{
		font-size: 150px;
	}
	.Titulo_index{
		font-size: 60px;
	}
	
	.Titulo_Principal{
		font-size: 75px;
	}
	
	.titulo_a{
		font-size: 60px;
	}
	
	.parrafo_blog{
		font-size: 50px
	}
}



@media screen and (max-width: 558px){
	.Titulo_Principal_index{
		font-size: 50px;
	}
	.Titulo_index{
		font-size: 20px
	}
}

@media screen and (max-width: 511px){
	.Contenedor_Principal_index{
		margin-top: 90px;
	}
}

@media screen and (max-width: 310px){
	.Contenedor_Principal_index{
		margin-top: 70px;
	}
}

@media screen and (max-width: 404px){
	.Titulo_Principal_index{
		font-size: 40px;
	}
	.Titulo_index{
		font-size: 15px
	}
	
	.Titulo_Principal{
		font-size: 30px
	}
	
	.parrafo_blog{
		font-size: 15px
	}
}

@media screen and (max-width: 320px){
	.Titulo_Principal_index{
		font-size: 30px;
	}
	.Titulo_index{
		font-size: 10px
	}
}

@media screen and (max-width: 242px){
	.Titulo_Principal_index{
		font-size: 25px;
	}
	.Titulo_index{
		font-size: 7px
	}
	.Titulo_Principal{
		font-size: 20px;
	}
	.parrafo_blog{
		font-size: 10px
	}
	
}

@media screen and (max-width: 202px){
	.Contenedor_Principal_index{
		margin-top: 55px;
	}

	.Titulo_Principal_index{
		font-size: 18px;
	}
	.Titulo_index{
		font-size: 5px
	}
	.Titulo_Principal{
		font-size: 17px;
	}
	.parrafo_blog{
		font-size: 8px
	}
	
}