/*
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------     INICIO DEL RESET    ---------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, 
code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, 
li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 
	0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}


/*
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------     FIN DEL RESET    ----------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

@font-face{
 font-family: "Marbles Trick 1_PersonalUseOnly";
 src: url(FUENTES/Marbles_Trick 1_PersonalUseOnly.ttf) format("TrueType");
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: "Corrupted File";
 src: url(FUENTES/Corrupted File.ttf) format("TrueType");
 font-weight: normal;
 font-style: normal;
}

*{
	box-sizing: border-box
}

body{
	width: 100%;
	font-family: "Marbles Trick 1_PersonalUseOnly";
}

img{
	max-width: 100%;
}

video{
	max-width: 100%;
}

footer{
	clear: left
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------       BARRA DE NAVEGACION       ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/		

.Barra_Navegacion_n{
	background-color: #9500FF;
	width: 95%;
	border-radius: 5px;
	margin: 20px auto;
	overflow: hidden;	
}

.Barra_Navegacion_u{
	padding: 15px 15%;
	overflow: hidden;
}

.Barra_Navegacion_i{
	display: inline-block;
	float: left;
	padding: 10px 4%;
	text-align: center;
	font-family: "Marbles Trick 1_PersonalUseOnly";
	font-size: 25px;
	color: black;

}

.Barra_Navegacion_i:hover{
	background-color: #008FFF;
	border-radius: 20px;
	font-size: 29px;
	box-shadow: 10px 10px 70px 0px black;
	transition: font-size 1s;
	color: #000000;
	text-decoration: none;
}

.Barra_Navegacion_a:visited{
	color: #000000;
	text-decoration: none;
}

.Barra_Navegacion_a:hover{
	background-color: #008FFF;
	text-decoration: none;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------       BARRA DE NAVEGACION       ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------         TITULO PRINCIPAL        ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

.Titulo_Principal{
	text-align: center;
	font-family: "Marbles Trick 1_PersonalUseOnly";
	font-size: 30px;
	background-color: #008FFF;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 15px;
	clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%); 
	border: 2px dashed;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------         TITULO PRINCIPAL        ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------             COLUMNA             ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

.contenedores_i{
	display: inline-block;
	float:left;
	width: 24%;
	background-color: #A7A7A7;
	border-radius: 10px;
	border: 5px solid black;
	margin: 0.5%;
		
}

.titulo_h2{
	text-align: center;
	padding: 3px;
	font-family: "Marbles Trick 1_PersonalUseOnly";
	font-size: 30px;
	margin: 8px 0; 
}

.imagenes{
	width: 1% auto;
	border-radius: 5%;
	padding: 2%;
}

.parrafos{
	font-family: "Marbles Trick 1_PersonalUseOnly";
	padding: 10px;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------             COLUMNA             ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------       TECNICAS RESPOSIVE        ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------



-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------  AJUSTES DE BARRA DE NAVEGACIO  ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/


@media screen and (max-width: 850px){
	.Barra_Navegacion_i{
		font-size: 23px;
	}
	.Barra_Navegacion_i:hover{
		font-size: 25px;
	}
}

@media screen and (max-width: 816px){
	.Barra_Navegacion_i{
		font-size: 22px;
	}
	.Barra_Navegacion_i:hover{
		font-size: 24px;
	}
}

@media screen and (max-width: 782px){
	.Barra_Navegacion_i{
		font-size: 21px;
	}
	.Barra_Navegacion_i:hover{
		font-size: 23px;
	}
}

@media screen and (max-width: 748px){
	.Barra_Navegacion_i{
		font-size: 20px;
	}
	.Barra_Navegacion_i:hover{
		font-size: 22px;
	}
}

@media screen and (max-width: 714px){
	.Barra_Navegacion_i{
		font-size: 19px;
	}
	.Barra_Navegacion_i:hover{
		font-size: 21px;
	}
}

@media screen and (max-width: 680px){
	.Barra_Navegacion_i{
		font-size: 18px;
	}
	.Barra_Navegacion_i:hover{
		font-size: 20px;
	}
}


/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------- AJUSTES DE BARRA DE NAVEGACION ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 650px){ 
	.Barra_Navegacion_n,
	.Barra_Navegacion_u,
	.Barra_Navegacion_i{
		display: none;
	}
	.Titulo_Principal{
		margin-top: 10px;
		font-size: 20px;
	}
	.titulo-h2{
		font-size: 20px;
	}
	
	.contenedores_i{
		width: 49%;
	}

}

@media screen and (max-width: 470px){
	.contenedores_i{
		width: 98%;
		float: none;
		margin: 1%;
	}
	.Titulo_Principal{
		font-size: 24px;
		text-align: center:
	}
	.titulo-h2{
		font-size: 15px;
	}
	.parrafos{
		font-size: 20px
	}
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------       TECNICAS RESPOSIVE        ------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------
*/